@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

.icon-xiayige:before { content: "\e642"; }

.icon-tuichu:before { content: "\e779"; }

.icon-yincang:before { content: "\e606"; }

.icon-xiugaimima:before { content: "\e7dc"; }

.icon-xingji:before { content: "\e867"; }

.icon-shouye-copy:before { content: "\e60b"; }

.icon-calendar:before { content: "\e608"; }

.icon-jingyin:before { content: "\e691"; }

.icon-shengyin:before { content: "\e697"; }

.icon-xiaoxi:before { content: "\e603"; }

.icon-icon:before { content: "\e600"; }

.icon-yonghu:before { content: "\e669"; }

.icon-pingfenxingji:before { content: "\e71c"; }

.icon-pingfenxingji-hui:before { content: "\e71d"; }


